[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
djoser = "*"
django-filter = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.12"
